body,html {
    position: relative; 
}

:root {
    --primary-color: #c22929;
}

#section3{
background: var(--primary-color);

}
#section2{
    padding-top:70px;
    padding-bottom:165px
}
#section1{
    padding-top: 70px;
    padding-bottom:520px ;
    background: white url('../img/bloc1.png') no-repeat right bottom;  
}




