body,html {
    position: relative; 
}

:root {
    --primary-color: #c22929;
}


span.ingredient {
    color: #f00;
}
#section1{
    padding-top: 70px;
    padding-bottom:420px ;
    background: white url('../img/bloc1.png') no-repeat right bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#section2{
    background-attachment: scroll;
    background-size: cover;
    
}

#section3{
    padding-top:100px;
    padding-bottom:250px;
background: var(--primary-color);
background-attachment: scroll;
background-size: cover;

}
#section3 h6{
    text-align: right;
    color:white;
}

.circle-icon {
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}
.bi {
    color: white;
    
    border-radius:50%;
    width:2.5em ;
    height:2.5em;
    border:2px solid white; 
}


